* {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  background-color: dimgrey;
}
body {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 1.1em;
}
hr {
  margin: 50px;
}
input {
  font-size: 1em;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
}
h4 {
  margin: 5px;
}
hr {
  width: 20%;
  margin-left: 40%;
}
ul {
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
li * {
  display: inline;
}
li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  margin: 0 5px 5px 5px;
  background-color: lightgrey;
}
li.todos {
  background-color: lightgreen;
}
li.todos.todo_done {
  background-color: red;
}
li.todos.todo_urgent {
  background-color: darkorange;
}
li.todos.todo_soon {
  background-color: yellow;
}
li a {
  color: black;
}
form {
  margin: 0;
}
input[type="text"],
input[type="date"] {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  margin: 0 5px;
  color: black;
  cursor: text;
}
li input[type="date"] {
  opacity: 0.8;
  transform: scale(0.9)
}
.delete_folder_button,
.add_button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.add_button {
  padding: 0;
  font-size: 1.5em;
}
.delete_folder_button {
  padding-left: 5px;
}
.delete_folder_button:hover {
  color: red;
}
