{% load static %} <link href="{% static "shelf/main.css" %}" rel="stylesheet"
type="text/css" media="screen" />

<h1>MyShelf</h1>
<ul>
  {% if root_folders %} {% for folder in root_folders %}
  <li>
    <a href="{% url 'shelf:folder_detail' folder.id %}">
      {{ folder.folder_name }} ({{ folder.todo_set.all.count }})
    </a>
    <form action="{% url 'shelf:delete_folder' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="folder_id" value="{{ folder.id }}" />
      <input type="submit" value="×" class="delete_folder_button" />
    </form>
  </li>
  {% endfor %} {% endif %}
  <form action="{% url 'shelf:create_folder' %}" method="post">
    {% csrf_token %}
    <input
      type="text"
      name="folder_name"
      value=""
      placeholder="Neuen Ordner anlegen..."
    />
    <input type="submit" value="+" class="add_button" />
  </form>
</ul>
